= simple_form_for @grant_story, :html => { :class => 'form-horizontal' } do |f|
  = f.input :story, label: "Your story", as: :text, :input_html => { :style => "width: 500px; height:150px;" }
  .form-actions
    = f.button :submit, "Share", :class => 'btn-primary'
    -# = link_to t('.cancel', :default => t("helpers.links.cancel")), grant_stories_path, :class => 'btn'
