- model_class = Comment
.page-header
  %h1 Messages to the Family

%dl
  - @comments.each do |comment|
    %h4 By #{comment.name} on #{comment.created_at.strftime("%B %d, %Y")}
    .well= comment.text

-#= link_to t('.edit', :default => t("helpers.links.edit")), edit_comment_path(comment), :class => 'btn btn-mini'
-#= link_to t('.destroy', :default => t("helpers.links.destroy")), comment_path(comment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to "Add Comment", new_comment_path, :class => 'btn btn-primary'
