.page-header
  %h1 Prayer Requests

%p
  Many of us have told the family that we are praying for them. This page is an attempt collect the requests the
  Spirit puts on our heart or that a family member requests. In so doing, we are able to more efficiently pray and
  bless both them and each other. While all these requests are anonymous, it would be a blessing to some of us to
  know you are praying with us. If you feel led, please contact tim@theboohers.org to share you are praying.

- @prayer_requests.each do |prayer_request|
  .well
    = Sanitize.clean(prayer_request.request)

%h2 Add your request

= render :partial => "form"
