.page-header
  %h1 Receive Updates via Email

.row
  .span1
    %p &nbsp;
  .span8
    .well
      We want to make sure everyone is kept up to date, but we are only aware of a small fraction of the Thill family's
      community. Please submit your email address below and we will be sure to include you on any announcements. Your
      email will be used only to keep you up to date and not shared with any third party.

= render :partial => "form"
