%h1 About Grant

%p message from the family here?

-# %p Grant was taken to be with the Lord after a tragic accident last Thursday morning. He

%h3 Articles
%ul
  %li= link_to "Fox News", "http://www.foxnews.com/us/2013/05/18/boy-6-kicked-by-pony-on-pennsylvania-farm-dies-police-say/"
  %li= link_to "ABC News", "http://abcnews.go.com/US/wireStory/police-boy-kicked-pony-pa-farm-dies-19208117#.UZgAdSvF0jU"


