%h1 About Grant

- @stories.each do |story|
  .well
    = story.story

.well
  %p Share a story about how Grant touched your life. It will be posted here for all to know the blessing he provided us.
  = render partial: "grant_stories/form"

