%h2 Grant Raymond Pio Thill

= image_tag "family1.png"

%h4 Message from Grant's Father

%p
  It is with a heavy heart that I tell you our precious son, Grant Raymond Pio Thill, went to be with the Lord yesterday, 17 May 2013 at 513 pm. He passed away peacefully and without pain. What is sad for us, is joy for Grant (getting to heaven first). We commend his soul to our Savior.

%p 
  For those able, there will be a viewing on this Mon night (at a TBD funeral home) and the funeral mass on Tues at 1 pm at St. Louis Catholic Church in Alexandria, VA.  We will follow up shortly with more details regarding the funeral home selected. 

%p We thank you all for the prayers that have lifted us up during this challenging time. 

%p Please distribute this email far and wide, as we would love to celebrate the joys of our son with all those who have been praying for him.
 
%p God bless you all,

%p Joe for the Thills


%h3 Questions
%ul
  %li Where should gifts be sent?
  %li What about flowers?
  %li Can we provide meals?
