%h1 Questions

%ul
  %li
    %b What happened?
    %br
    %p A tragic accident. Please see the media coverage below.
    %ul
      %li= link_to "Fox News", "http://www.foxnews.com/us/2013/05/18/boy-6-kicked-by-pony-on-pennsylvania-farm-dies-police-say/"
      %li= link_to "ABC News", "http://abcnews.go.com/US/wireStory/police-boy-kicked-pony-pa-farm-dies-19208117#.UZgAdSvF0jU"
      %li= link_to "YDR.com", "http://www.ydr.com/ci_23262150/lancaster-county-boy-kicked-throat-by-pony-airlifted"

  %li
    %b Where should condolences be sent?
    %br
    %p
      Their home address is: 75 Westover Avenue, Joint Base Anacostia-Bolling, Washington DC 20032

  %li
    %b What about flowers?
    %p Right now, we don't know any other location than their home.
  %li
    %b Can we provide meals?
    %p
      Yes. Please go to
      = link_to "takethemameal.com", "http://takethemameal.com/"
      and enter
      %b
        Thill
      as the name of the recipient and use
      %b
        8316
      as the password.

%p
  If you have any other questions or any other information, please email tim@theboohers.org and I'll post it here asap.
