%h1 Questions

%ul
  %li
    %b Where should condolences be sent?
    %br
    %p
      Their home address is: 75 Westover Avenue, Joint Base Anacostia-Bolling, Washington DC 20032

  %li
    %b What about flowers?
    %p Right now, we don't know any other location than their home.
  %li
    %b Can we provide meals?
    %p
      Yes. Please go to
      = link_to "takethemameal.com", "http://takethemameal.com/"
      and enter
      %b
        Thill
      as the name of the recipient and use
      %b
        8316
      as the password.

%p
  If you have any other questions or any other information, please email tim@theboohers.org and I'll post it here asap.
