%h3 Services

%h2 Viewing

%h4 Monday, May 20, 2013 (time and location TBD)

%p Information forthcoming.

%h2 Funeral at St. Louis Catholic Church in Alexandria, VA

%h4 Tuesday, May 21, 2013 at 1pm

%p
  2907 Popkins Ln, Alexandria, VA
  %br
  (703) 765-4421
  = link_to "saintlouisparish.org", "http://saintlouisparish.org"

%p
  %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=St.+Louis+Catholic+Church+in+Alexandria,+VA&sll=38.43931,-78.871182&sspn=0.13607,0.264702&ie=UTF8&hq=St.+Louis+Catholic+Church&hnear=Alexandria,+Virginia&ll=38.765131,-77.081984&spn=0.016932,0.033088&t=m&z=14&iwloc=A&cid=17746917137161777642&output=embed", :width => "425"}
  %br/
  %small
    %a{:href => "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=St.+Louis+Catholic+Church+in+Alexandria,+VA&sll=38.43931,-78.871182&sspn=0.13607,0.264702&ie=UTF8&hq=St.+Louis+Catholic+Church&hnear=Alexandria,+Virginia&ll=38.765131,-77.081984&spn=0.016932,0.033088&t=m&z=14&iwloc=A&cid=17746917137161777642", :style => "color:#0000FF;text-align:left"} View Larger Map


